
body{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration:none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span{
    color:olive;
}
section{
    padding: 2rem 9%
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span{
    color:olive;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: olive;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: pink;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
}

header .logo span{
    color: pink;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
    text-decoration: none;
}

header .navbar a:hover{
    color: pink;
}

header .icons a{
    font-size: 2.5rem;
    color:#666;
    margin-left: 1.5rem;
    text-decoration: none;
}

header .icons a:hover{
    color: pink;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/butterfly.2.jpg) no-repeat;
    background-size: 150rem;
    background-position:top/right/left/bottom center;
}


.home .content{
    max-width: 80rem;
}

.home .content h3{
    font-size: 5rem;
    color:black;
    line-height:0.5rem ;
    font-style: italic;
}

.home .content span{
    font-size: 3.5rem;
    color:olive;
    padding: 0.5rem 0;
    line-height: 0.5;
    
}

.home .content p{
    font-size:1.5rem;
    color: #8b4513;
    padding: 1rem 0;
    line-height: 1.7rem;
    max-width: 70rem;
}
.icons-container{
    background: #eee;
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.icons-container .icons{
    background: #fff;
    border: 1.2rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    flex: 1 1 18rem;
}
.icons-container .icons img{
    height: 6rem;
    margin-right: 2rem;
}
.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 28rem;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
font-size: 3rem;
color: #333;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .1rem ;
    padding-top: 0.4rem;
    line-height: 1.5;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products .box-container .box .discount{
    position:absolute;
    top: 1rem; left: 1rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    color:black;
    background: rgba(0,0,0,.1);
    z-index:1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
height: 25rem;
}

.products .box-container .box:hover .image img{
transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: olive;
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
border-left: .1rem solid #fff7;
border-right: .1rem solid #fff7;
width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: #333;
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: olive;
    font-weight: bolder;
    padding-top: 1rem;

}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
    
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products .box-container .box .discount{
    position:absolute;
    top: 1rem; left: 1rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    color:black;
    background: rgba(0,0,0,.1);
    z-index:1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
height: 25rem;
}

.products .box-container .box:hover .image img{
transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: olive;
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
border-left: .1rem solid #fff7;
border-right: .1rem solid #fff7;
width: 100%;
}

.products .box-container .box .image .icons a:hover{
    background: #333;
}

